.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-text {
  margin: 20px 0;
}

.categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
